.SkillForm {
    height: 55vh;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(248, 240, 240, 0.8);
    text-align: center;
}

.SkillForm h4 {
    font-weight: 800;
}

.SkillForm label {
    font-size: 13px;
}